body {
  background-color: #1a1a1a;
}



footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer article {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer img {
  height: 2.5rem;
  width: 2.5rem;
}
